 <div id="ranking" class="mt-4 mb-4 p-4">
                <div class="d-flex justify-content-between">
                    <p>Review by: <b>{{user.username}}</b></p>
                    <p>{{comment_date}}</p>
                </div>
                <p class="fw-bold mt-3">★{{score_given}}</p>
                <p class="mt-4">{{comment_description}}</p>
            </div>