 <div id="ranking" class="mt-4 mb-5 p-4">
                <div class="d-flex justify-content-between">
                    <p>{{user.username}}</p>
                    <p>20/9/2023</p>
                </div>
                <p class="fw-bold mt-3">★{{score_given}}</p>
                <p class="mt-4">{{comment_description}}</p>
            </div>