    <nav class="navbar py-3 d-flex justify-content-center">
        <div class="w-50 d-flex justify-content-between">
            <section>
                <!-- logo -->
                <img src="/assets/ReadMi-logo.png" width="auto" height="38px" alt="readmi-logo">
            </section>
            <section>
                <!-- buttons -->
                <button type="button" id="loginBtn" class="btn btnB px-3">LOGIN</button>
                <button type="button" id="signupBtn" class="btn btnA px-3 ms-2">SIGN UP</button>
            </section>
        </div>
    </nav>

    <div class="container-fluid center w-50">
        <div id="main-desc" class="banner">
            <!-- discription -->
            <p class="fs-5 text-center">Track your favourite books. Rate and bookmark them into your collection!</p>
        </div>
    {{#if userInfo.id}}
        <div id="searchbar" class="banner input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for book titles, authors, etc..."
                aria-label="search" aria-describedby="button-addon2" id="main-searchBar">
            <button class="btn btnB dropdown-toggle genre-button" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Genre</button>
            <ul class="dropdown-menu dropdown-menu-end">
                {{#each mappedCategory as |category|}}
                {{> category-partial}}
                {{/each}}
            </ul>
            <button class="btn btnB dropdown-toggle star-button" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Rating</button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><button class="dropdown-item star-item" href="#">★1</button></li>
                <li><button class="dropdown-item star-item" href="#">★2</button></li>
                <li><button class="dropdown-item star-item" href="#">★3</button></li>
                <li><button class="dropdown-item star-item" href="#">★4</button></li>
                <li><button class="dropdown-item star-item" href="#">★5</button></li>
            </ul>
            <button class="btn btnA" type="button" id="main-searchBtn">SEARCH</button>
        </div>
    {{/if}}

        <div id="ranking">
             <div>
                {{#if empty}}
                    <h3 class="fw-bold py-3 ms-3">No books found</h3>
                {{else}}
                    <h3 class="fw-bold py-3 ms-3">Book Rankings</h3>
                {{/if}}
            </div>
            <div class="rounded w-100">
                <table id="book-table-ting" class="table table-striped table-hover text-center align-middle">
                    <tbody>
                        <thead class="py-2">
                            <!-- table row titles -->
                            <tr>
                                <th scope="col" class="col-1">#</th>
                                <th scope="col" class="col-1"></th>
                                <th scope="col" class="col-5">Title</th>
                                <th scope="col" class="col-1">Genre</th>
                                <th scope="col" class="col-1">Score</th>
                                <th scope="col" class="col-1">★</th>
                                </tr>
                        </thead>
                        <!-- ranking card template -->
                            {{#each mappedData as |book|}}
                            {{> bookdisplay-partial}}
                            {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{#unless userInfo.id}}
    <link rel="stylesheet" href="/css/blur.css">
    {{/unless}}
    <script src="/js/homepage.js"></script>