:root {
    --bg: #ebe5d0;
    --fg: #73473987;
    --fg2: #fffeed;
    --fg3: #cfcda7;
    --accent-A: #ffbb00;
    --hover-A: #f0b40f;
    --accent-B: #695a55;
    --hover-B: #574b48;
    --dlt: #d43f2d;
}

* {
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    transition: .1ms
}

body {
    background-color: var(--bg);
}

p {
    margin: 0;
}

.txt-wht {
    color: white;
}

.navbar {
    background-color: var(--fg);
}

.btn {
    color: white;
}

.btnA {
    background-color: var(--accent-A);
}

.btnB {
    background-color: var(--accent-B);
}

.dltBtn {
    font-weight: bold;
    color: var(--dlt);
    background-color: white;
    border: solid 2px var(--dlt);
}

.btnA:hover {
    background-color: var(--hover-A);
    color: white;
}

.btnB:hover {
    background-color: var(--hover-B);
    color: white;
}

.dltBtn:hover {
    color: white;
    background-color: var(--dlt);
}

.form-control:focus {
    border-color: var(--hover-B);
    box-shadow: 0 0 0 0.25rem var(--accent-B);
}


/* main index */

.banner {
    padding: 60px 0;
}


/* ranking table */

#ranking {
    background-color: var(--fg2);
    border-radius: 10px;
}

table {
    border-spacing: 0;
    border-collapse: separate;
}

.table {
    --bs-table-bg: none;
}

th,
td {
    border-style: none;
}

.img-ph {
    width: auto;
    height: 100px;
}


/* login index */

#login-container {
    background-color: var(--fg);
}

.star-unfilled {
    text-decoration: none;
    font-size: 20px;
    color: #3a3a3a72;
    cursor: pointer;
}

.star-filled {
    text-decoration: none;
    font-size: 20px;
    color: #ff8e5a;
    cursor: pointer;
}

.star-star {
    text-decoration: none;
    font-size: 20px;
    color: #ff8e5a;
}

.bookid-img {
    background-color: tan;
    width: 200px;
    height: 250px;
}

.trash-can {
    cursor: pointer;
    transition: all 100ms linear;
}

.trash-can:hover {
    height: 20px;
    width: 17px;
}